#container{
    height: 500px;
    width: 400px;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    background-color: grey;
    align-content: center;
}
#navbar{
    height: 50px;
    width: 900px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-content: center;

}
.option{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
}